<!DOCTYPE html>
<html>
<head>
  <title>NYC</title>
  <link rel="icon" type="image/png" href="img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script type="text/javascript" src="js/app.js"></script>
  <% if ENV["RACK_ENV"] != "development" %>
    <meta http-equiv="refresh" content="15">
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
