body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
#delays {
  animation: delays 5s infinite;
}

@keyframes delays {
  25% {
    opacity: 0.2;
    transition: opacity ease-in;
  }
  50% {
    opacity: 1;
    transition: opacity ease-in;
  }
  75% {
    opacity: 0.2;
    transition: opacity ease-in;
  }
}

.mta-lirr-bullet {
  font-family: Helvetica, sans-serif;
  width: 9em;
  height: 1em;
  font-size: 1em;
  line-height: 1em;
  padding: 0.25em;
  text-align: center;
  font-weight: bold;
  color: #FFF;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(css/PIE.htc);
}
