body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}
#delays {
  animation: delays 5s infinite;
}

@keyframes delays {
  25% {
    opacity: 0.2;
    transition: opacity ease-in;
  }
  50% {
    opacity: 1;
    transition: opacity ease-in;
  }
  75% {
    opacity: 0.2;
    transition: opacity ease-in;
  }
}
